* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 2rem;
}

ol.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0; 
}

ol.pokemons li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 2rem;
    background-color: #0a7e4d;
    border-radius: 1rem;
    color: #fff;
}

ol.pokemons li img {
    max-width: 100%;
    height: 110px;
}